.footer-section {
  background-color: #4a4948;
  width: 100vw;
  display: flex;
}

.footer-top-section {
  display: flex;
  margin-right: 50px;
}

.health-care-icon {
  color: #ffffff;
  font-size: 50px;
  margin: 20px;
}

.footer-app-name {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  margin-bottom: 0;
}

.footer-app-description {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.footer-app-connect {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.footer-about-company {
  color: #ffffff;
  font-size: 15px;
  width: 500px;
}

.connect-logo {
  color: #ffffff;
  font-size: 30px;
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .health-care-icon {
    font-size: 30px;
    margin-right: 10px;
  }

  .footer-top-section {
    margin-right: 20px;
  }

  .footer-app-name {
    font-size: 20px;
  }

  .footer-about-company {
    font-size: 10px;
    width: 200px;
  }

  .connect-logo {
    font-size: 20px;
    margin-right: 10px;
  }

  .footer-app-connect {
    font-size: 15px;
  }
}
